*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color:black;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
   
}
img {
      width: 200px;       
}
h1{
 color: rgba(31,44,93,255);

}

.stadium img {
    width: 700px;
    height: 700px;
}

.add-player-button {
    background-color: rgba(31,44,93,255);
    padding: 8px 16px; 
    border-radius: 0.5rem; 
    color: #fcf7db;
    font-weight: 500; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-player-button:hover {
    background-color: #078b03;
    color: #000000;
}