*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color:black;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40%;
   
}
img {
      width: 200px;       
}
h1{
 color: rgba(31,44,93,255);

}
.stadium{
    display: grid;
    grid-template-columns: repeat(4,200px);
    grid-template-rows: repeat(4,300px);
    background-image: url('../images/P2.png') ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
    /* background: rgb(32, 31, 31); */
    background-color: rgb(100, 100, 100);
    justify-content: center;
   
}
.player1{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player2{
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
   
}
.player3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player4{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player5{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player6{
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player7{
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player8{
    grid-column: 2/3;
    grid-row: 3/4;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player9{
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player10{
    grid-column: 4/5;
    grid-row: 3/4;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
}
.player11{
    grid-column: 2/3;
    grid-row: 4/5;
    background-image: url('../images/P3.webp') ;
    background-position: center; 
    background-repeat: no-repeat; 
    transform: translateX(50%);
}
.stadium img {
    width: 700px;
    height: 700px;
}

.add-player-button {
    background-color: rgba(31,44,93,255);
    padding: 8px 16px; 
    border-radius: 0.5rem; 
    color: #fcf7db;
    font-weight: 500; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.add-player-button:hover {
    background-color: #078b03;
    color: #000000;
}